[Desktop Entry]
Encoding=UTF-8
Name=TwitchTV Boardcast
Version=0.2
Comment=TwitchTV is a video game broadcasting and chat community.  
Exec=xterm -e "~/twitchtav_app/twitchtv.sh"
Type=Application
Categories=Application;Media;GNOME;
GenericName=Boardcasting Application
